<form [formGroup]="filterForm" class="filter-form">
  <!-- Competition Autocomplete -->
  <mat-form-field appearance="fill" [@fadeInOut]>
    <mat-label>League/Competition</mat-label>
    <input type="text"
           matInput
           formControlName="selectedCompetition"
           [matAutocomplete]="autoCompetition">
    <mat-autocomplete #autoCompetition="matAutocomplete" [displayWith]="displayCompetition">
      <mat-option *ngFor="let competition of filteredCompetitions | async" [value]="competition">
        {{ competition.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="filterForm.get('selectedCompetition')?.hasError('required')">
      Please select a league
    </mat-error>
  </mat-form-field>

  <!-- Season Autocomplete -->
  <mat-form-field appearance="fill" [@slideInOut]>
    <mat-label>Season</mat-label>
    <input type="text"
           matInput
           formControlName="selectedSeason"
           [matAutocomplete]="autoSeason">
    <mat-autocomplete #autoSeason="matAutocomplete" [displayWith]="displaySeason">
      <mat-option *ngFor="let season of filteredSeasons | async" [value]="season">
        {{ season.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="filterForm.get('selectedSeason')?.hasError('required')">
      Please select a season
    </mat-error>
    <mat-spinner *ngIf="isLoading" diameter="20" class="loading-spinner"></mat-spinner>
  </mat-form-field>

  <!-- Team Autocomplete -->
  <mat-form-field appearance="fill" [@slideInOut]>
    <mat-label>Team</mat-label>
    <input type="text"
           matInput
           formControlName="selectedTeam"
           [matAutocomplete]="autoTeam">
    <mat-autocomplete #autoTeam="matAutocomplete" [displayWith]="displayTeam">
      <mat-option *ngFor="let team of filteredTeams | async" [value]="team">
        {{ team.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="filterForm.get('selectedTeam')?.hasError('required')">
      Please select a team
    </mat-error>
    <mat-spinner *ngIf="isLoading" diameter="20" class="loading-spinner"></mat-spinner>
  </mat-form-field>

  <!-- Last 30 Games Toggle -->
  <div class="slide-toggle-container" [@fadeInOut]>
    <mat-slide-toggle formControlName="last30Games" color="primary">
      Search Last 30 Games
    </mat-slide-toggle>
  </div>
</form>
